/**======================================================
 * Copyright © hk. 2022-2025. All rights reserved.
 * File name  : styles.styl
 * Author     : 苏木
 * Date       : 2025-06-01
 * Version    : 
 * Description: NexT主题自定义样式文件
 *              [site]/_config.next.yml
 *              [site]/themes/next/source/css/main.styl
 * ======================================================
 */

/* 引入自定义版权声明样式 */
@import 'copyright' 
