/**======================================================
 * Copyright © hk. 2022-2025. All rights reserved.
 * File name  : variables.styl
 * Author     : 苏木
 * Date       : 2025-06-01
 * Version    : 
 * Description: 站点自定义样式变量文件
 *              [site]/_config.next.yml
 *              [site]/themes/next/source/css/main.styl
 * ======================================================
 */

/* Margin and radius */
$myradius                     = 8px;    /* 圆角弧度 */

/* Font family */
$font-family-quote            = "EB Garamond", STKaiti, KaiTi, SimKai, DFKai-SB, "Noto Serif SC";

/* Post hyperlinks*/
$post-hyperlinks-default      = #0593d3;
$post-hyperlinks-hovering     = #fc6423;

/* Color and shadow */
$tag-cloud-start              = #9733EE;
$tag-cloud-end                = #FF512F;
$image-box-shadow             = 0 5px 15px 0px rgba(0, 0, 0, .4);
